:root {
    --light-orange: #ffedbc;
    --orange: #f46d43;
    --light-purple: #b2abd2;
    --dark-purple: #542788;
    --grey: rgb(116, 116, 116);
    font-family: "Rubik";
}

body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1.5fr 5fr;
    height: 100vh;
    margin: 0;
}

/* Header */

header {
    grid-column: 2 / 3;
    grid-row: 1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    background-color: var(--light-orange);

    display: grid;
    grid-template-columns: 2fr 6fr 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 2fr;
}

header * {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img  {
    width: 50px;
}

header label {
    padding: 0 50px;
    grid-column: 1 / 3;
}

header input {
    flex-basis: 60%;
    height: 50px;
    margin-left: 30px;
    padding-left: 10px;
    font-size: 22px;
    border: 4px solid var(--grey);
    border-radius: 20px;
    background-color: azure;
}

header input:focus,
header input:focus-visible {
    border-color: var(--orange);
    outline: 0;
}

header .profile-menu {
    grid-column: 3 / 6;
    flex-wrap: wrap;
    gap: 20px;
}

header img#small-profile-picture {
    width: 60px;
    margin: 0 30px 0 60px;
}

header img#large-profile-picture {
    width: 120px;
}

header .welcome-message {
    color: var(--orange);
    flex-direction: column;
    align-items: start;
}

header .welcome-message p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

header .welcome-message h2 {
    font-size: 40px;
    margin-top: 10px;
}

header .button-menu {
    grid-column: 3 / 6;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

header .button-menu button {
    flex-basis: 150px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: var(--orange);
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
}

header .button-menu button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}


/* Sidebar */

.sidebar {
    grid-column: 1;
    grid-row: 1 / 6;
    background-color: var(--orange);
}

.sidebar #title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard-logo {
    width: 60px;
}

.sidebar #title h1 {
    margin: 50px 20px;
    font-size: 40px;
    color: white;
}

.sidebar ul {
    list-style: none;
    margin: 100px 0;
}

.sidebar li {
    color: white;
    font-size: 27px;
    font-weight: bold;
    margin: 30px 0;

    display: flex;
    align-items: center;
}

.sidebar ul li img {
    width: 45px;
    margin-right: 30px;
    cursor: pointer;
}


/* Content */

.content {
    grid-column: 2;
    grid-row: 2 / 6;
    background-color: rgba(240, 255, 255, 0.4);


    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.content * {
    border: 2px solid black;
}

.content .projects {
    grid-column: 1;
    grid-row: 1 / 3;
}

.content .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content .project-container article {
    margin: 20px 40px;
    padding: 10px 40px;
}

.content h3.projects-title {
    margin: 10px 40px;
    font-size: 25px;
} 




.content .announcements {
    grid-column: 2;
    grid-row: 1;
}

.content .trending {
    grid-column: 2;
    grid-row: 2;
}
