:root {
    --light-orange: #ffedbc;
    --orange: #f46d43;
    --light-purple: #b2abd2;
    --dark-purple: #542788;
    --grey: rgb(116, 116, 116);
    font-family: "Rubik";
}

body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6cqh;
    margin: 0;
    height: 100vh;
}

/* Header */

header {
    grid-column: 2 / 3;
    grid-row: 1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    background-color: var(--light-orange);

    display: grid;
    grid-template-columns: 2fr 6fr 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 2fr;
}

header * {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img  {
    width: 30px;
}

header label {
    padding: 0 50px;
    grid-column: 1 / 3;
}

header input {
    flex-basis: 60%;
    height: 30px;
    margin-left: 30px;
    padding-left: 10px;
    font-size: 16px;
    border: 2px solid var(--grey);
    border-radius: 10px;
    background-color: azure;
}

header input:focus,
header input:focus-visible {
    border-color: var(--orange);
    outline: 0;
}

header .profile-menu {
    grid-column: 3 / 6;
    flex-wrap: wrap;
    gap: 10px;
}

header img#small-profile-picture {
    width: 40px;
    margin: 0 20px 0 40px;
}

header img#large-profile-picture {
    width: 80px;
}

header .welcome-message {
    color: var(--orange);
    flex-direction: column;
    align-items: start;
}

header .welcome-message p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

header .welcome-message h2 {
    font-size: 28px;
    margin-top: 10px;
}

header .button-menu {
    grid-column: 3 / 6;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

header .button-menu button {
    flex-basis: 100px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: var(--orange);
    border: 0px;
    border-radius: 15px;
    cursor: pointer;
}

header .button-menu button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}


/* Sidebar */

.sidebar {
    grid-column: 1;
    grid-row: 1 / 6;
    background-color: var(--orange);
}

.sidebar #title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard-logo {
    width: 40px;
}

.sidebar #title h1 {
    margin: 50px 20px;
    font-size: 30px;
    color: white;
}

.sidebar ul {
    list-style: none;
    margin: 100px 0;
}

.sidebar li {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: 30px 0;

    display: flex;
    align-items: center;
}

.sidebar ul li img {
    width: 35px;
    margin-right: 20px;
    cursor: pointer;
}


/* Content */

.content {
    grid-column: 2;
    grid-row: 2 / 6;
    background-color: rgba(172, 184, 184, 0.4);


    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.content .projects {
    grid-column: 1;
    grid-row: 1 / 3;
}

.content .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 10px 20px 60px;
    gap: 40px;
}

.content h3.content-title {
    margin: 20px 0 20px 60px;
    font-size: 18px;
}

.content .project-container article {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border: none;
    border-left: 12px solid var(--orange);
    border-radius: 20px;
}

.content article h3 {
    font-size: 16px;
}

.content article p {
    font-size: 12px;
}

.content article .link-container {
    width: 150px;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    background-color: var(--orange);
    border: none;
    border-radius: 20px;
}

.content img {
    width: 25px;
    margin: 10px 0;
    cursor: pointer;
}



.content .announcements {
    grid-column: 2;
    grid-row: 1;
}

.content .announcements-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 20px;
    margin: 0 40px 40px 60px;
}

.content .announcements-container article {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.content .announcements-container article:not(:first-child):not(:last-child) {
    border-top: 2px solid var(--grey);
    border-bottom: 2px solid var(--grey);
}


.content .announcements-container article h3 {
    margin: 7px 0;
    font-size: 14px;
}

.content .announcements-container article p {
    font-size: 10px;
}

.content .trending {
    grid-column: 2;
    grid-row: 2;
}
